<div class="container-fluid vh-100 overflow-hidden">
    <div class="row text-center bg-light p-2 h-100">
        <h1 class="pb-3">Game</h1>
        <div class="col-sm-6 h-100 bg-primary d-flex justify-content-center flex-column">
            <h2>Player1</h2>

            <form [formGroup]="Form" class="d-flex justify-content-center flex-column">
                <label for="name"> Enter your name: </label>
                <input id="name" type="text" formControlName="Player1">
                <a  routerLink="/game" routerLinkActive="active"><button type="button" class="btn btn-dark col-4 mt-2" (click)="submit()">submit</button></a>
            </form>

        </div>
        <div class="col-sm-6 h-100 bg-danger d-flex justify-content-center flex-column">
            <h2>Player2</h2>

            <form [formGroup]="Form" class="d-flex justify-content-center flex-column">
                <label for="name"> Enter your name: </label>
                <input id="name" type="text" formControlName="Player2">
                <a routerLink="/game" routerLinkActive="active"><button type="button" class="btn btn-dark col-4 mt-2" (click)="submit()">submit</button></a>
            </form>
            
        </div>
    </div>
</div>
