p{
    color: orangered;
    font-weight: bold;
    background-color: peachpuff;
}

button{
    color: rgb(154, 11, 99);
    border-color: blueviolet;
}
label{
    color: blueviolet;
}
input{
    border-color: rgb(205, 5, 161);
}