<app-todoapp></app-todoapp>
<form>
    <input (input)="search ($event)" class="form-control" type="search" placeholder="search" aria-label=".search">
  </form>
  
  <div class="container bg-warning">  
    <form [formGroup]="form">
      <div class="row mb-3">
        <label for="firstname" class="col-sm-2 col-form-label col-form-label-sm">First Name:</label>
        <div class="col-sm-10">
          <input type="text" class="firstname" id="firstname">
        </div>
      </div>
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"> Last Name:</label>
        <div class="col-sm-10">
          <input type="text" class="lastname" id="lastname">
        </div>
      </div>
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"> Phone Number:</label>
        <div class="col-sm-10">
          <input type="password" class="phonenumber" id="phonenumber">
        </div>
      </div>
      <div class="row mb-3">
        <label for="colFormLabel" class="col-sm-2 col-form-label"> Email Address:</label>
        <div class="col-sm-10">
          <input type="email" class="emailaddress" id="emailaddress">
        </div>
      </div>
      <button (click)="onClick()" type="button" class="btn btn-success">submit</button>
    </form>
  